@model List<Proyecto_Restaurante.Models.Restaurante>

@{
    ViewData["Title"] = "Restaurantes";
}

<h2>Restaurantes</h2>

@if (Context.Session.GetString("Rol") == "Administrador")
{
    <a asp-action="Create">Nuevo Restaurante</a>
}

<br />
<br />

<table border="1">
    <tr>
        <th>Nombre</th>
        <th>Tipo de cocina</th>
        <th>Descripción</th>

        @if (Context.Session.GetString("Rol") == "Administrador")
        {
            <th>Acciones</th>
        }
    </tr>

    @foreach (var r in Model)
    {
        <tr>
            <td>@r.Nombre</td>
            <td>@r.TipoCocina</td>
            <td>@r.Descripcion</td>

            @if (Context.Session.GetString("Rol") == "Administrador")
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@r.RestauranteId">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@r.RestauranteId">Eliminar</a>
                </td>
            }
        </tr>
    }
</table>